@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Holtwood+One+SC&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.container{
    width: 100%; 
    min-height: 100vh; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    padding: 50px 8%; 
}

.gallery{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 30px; 
    
}

.gallery img{
    width: 100%; 
    border: 1px solid grey;
    cursor: pointer; 
}

.gallery img:hover{
    width: 100%; 
    border: 2px solid;
    transform: scale(1.03); 
}


.myndir{
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: italic;
    position: flex; 
    font-size: 60px; 
    padding: 150px 0 0 0; 
    text-align: center; 
    left: 50%; 
    right: 50%; 
   
}



.image-preview{
    position: fixed;   
    top:0; left:0; 
    min-height:100vh; 
    width:100%; 
    background: rgba(0,0,0,.8); 
    display: flex; 
    z-index: 1000; 
    align-items:center; 
    justify-content:center; 
}

.image-preview .preview {
    padding:0.5rem; 
    text-align: center; 
    background: #fff; 
    position: relative; 
    margin:6rem; 
    width:28rem; 
    max-height: 60%; 
}

.image-preview .preview.active{
    display: inline-block; 
}

.products-preview .preview img{
    height: 30rem;
}

.products-preview .preview .fa-times{
    position: absolute; 
    top:1rem; 
    left:1rem; 
    cursor: pointer; 
    font-size: 4rem; 
}

.image-preview .preview h6{
    color: #444; 
    padding: .5rem 0; 
    font-size:20px; 
}































